---
import '98.css'
const title = '赤い部屋'
const desc = 'ホームページを開いた瞬間、本来のブラウザ以外に表示される小さな広告。ーーポップアップ広告。普段は誰もが見向きもしないまま消すこの広告。その中に、「絶対に消してはいけないと言われている広告がある」そんな噂を聞いたことがありますか？'
const ogp_image = '/ogp.png'
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="apple-touch-icon" sizes="180x180" href="/Akaiheya/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/Akaiheya/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/Akaiheya/favicon-16x16.png">
        <link rel="manifest" href="/Akaiheya/site.webmanifest">
        <link rel="mask-icon" href="/Akaiheya/safari-pinned-tab.svg" color="#ff0000">
        <meta name="msapplication-TileColor" content="#ff0000">
        <meta name="theme-color" content="#ff0000">

        <!-- Primary Meta Tags -->
        <title>赤い部屋</title>
        <meta name="title" content={title} />
        <meta name="description" content={desc} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={desc} />
        <meta property="og:image" content={Astro.url + ogp_image} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={desc} />
        <meta property="twitter:image" content={Astro.url + ogp_image} />

        <!-- Meta Tags Generated with https://metatags.io -->

        <meta name="google-site-verification" content="9C9uFRAF-Nj-y3pvJXC97Ya8jouzLpjwLiGboTZltgw" />
    </head>
    <body>
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">
                    <img src="/Akaiheya/ie.png" alt="">
                    https://github.com/tabarnouche/Akaiheya - Microsoft Internet Explorer
                </div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize" disabled></button>
                    <button aria-label="Close" id="button-close"></button>
                </div>
            </div>
            <div class="window-body">
                <div class="anatawa">
                    <p>あなたは 赤い部屋が</p>
                </div>
                <div class="sukisuka">
                    <p>好きですか？</p>
                </div>
            </div>
        </div>
        <audio src="/Akaiheya/1.mp3" id="sound-anatawa"></audio>
        <audio src="/Akaiheya/2.mp3" id="sound-akaiheyaga"></audio>
        <audio src="/Akaiheya/3.mp3" id="sound-scream"></audio>
    </body>
</html>

<script is:raw>
    let count = 0;
    const sound_anatawa = document.getElementById('sound-anatawa');
    const sound_akaiheyaga = document.getElementById('sound-akaiheyaga');
    const sound_scream = document.getElementById('sound-scream');

    const button_close = document.getElementById('button-close');

    button_close.addEventListener('click', () => {
        button_close.disabled = true;
        count++;
        sound_anatawa.play();
        let anatawa_position = document.querySelector('.anatawa').offsetLeft - 10;
        document.querySelector('.anatawa').style.left = anatawa_position + 'px';
    });

    sound_anatawa.addEventListener('ended', () => {
        button_close.disabled = false;
        if (count >= 5 && count <= 20) {
            button_close.click();
        }
        if (count === 21) {
            sound_anatawa.pause();
            sound_akaiheyaga.play();
        }
    });
    sound_akaiheyaga.addEventListener('ended', () => {
        sound_scream.play();
        document.querySelector('.window').style.display = 'none';
        document.querySelector('body').style.background = 'red';
        document.querySelector('html').style.cursor = 'none';
    });
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400&display=swap');
    body {
        background-color: silver;
    }
    .window {
        width: 640px;
        aspect-ratio: 4.16;
    }
    .title-bar-text {
        display: flex;
        align-items: center;
        gap: 4px;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }
    .window-body {
        position: relative;
        width: 100%;
        height: calc(100% - 22px);
        background-color: red;
        margin: 0;
        overflow: hidden;
    }
    .anatawa {
        position: absolute;
        z-index: 0;
        right: 6%;
        height: 100%;
    }
    .sukisuka {
        position: absolute;
        z-index: 1;
        right: 0;
        background: red;
        height: 100%;
    }
    .window-body p {
        font-size: 2.5rem;
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        white-space: nowrap;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }
    .anatawa p{
        rotate: -5deg;
    }
    .sukisuka p{
        rotate: 5deg;
    }
    button[aria-label="Maximize"]:disabled {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23777'/%3E%3C/svg%3E");
    }
</style>
